# https://editorconfig.org/

root = true

# Apply to every file
[*]
# 2 space indentation
indent_style = space
indent_size = 2
# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true
# Set default charset
charset = utf-8
# Unix-style newlines with a newline ending
insert_final_newline = true
end_of_line = lf
